
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url(../bg/concrete-texture.png);
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    background-color: #333333;
    z-index: 100;   /* to keep it in front of elements*/
}

.navbar-brand {
    color: white;
}

.navbar-nav > li > a {
    color: white;
    font-size: 1.3em;
}

.navbar-nav > li > a:hover {
    background-color: black;
    color: white;
}

.navbar-nav > li > a:active {
    color: yellow;
}

.navbar-nav > .active > a {
    background-color: yellow;
    color: black;
}


.opn-statement {
    max-width: 580px;
    font-size: 40px;
    margin: auto;
    padding-top: 90px;
    text-align: center;
}

.scnd-statement {
    font-weight: 500;
    font-size: 36px;
    max-width: 580px;
    padding-top: 20px;
    text-align: center;
    margin:auto;
    
}

.pic-container {
    position: relative;
    margin: auto;
}

.main-pic {
    display:block;
    position: relative;
    width: 400px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.scnd-pic {
    display: block;
    position: absolute;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.7;

}

.form-group {
    padding-top: 20px;
    width: 400px;
    margin: auto;
}


mark {
    background-color: yellow;
}
